.introContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 120px auto 0;
  padding: 0 20px;
}

.downloadButton, .projetosButton {
  display: flex;
  align-items: center;
  gap: 8px;
}

.iconStyle {
  font-size: 1.25rem;
}

.introText {
  color: var(--color-2);
  font-family: 'Font4';
  flex: 1;
  min-width: 300px;
}

.introText h1 {
  max-width: 500px;
  font-size: clamp(1.5rem, 2vw, 2rem);
  color: var(--color-7);
}

.introText p {
  margin-top: 15px;
  max-width: 550px;
  font-size: 1rem;
}

.socialLinks {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 16px;
  margin-top: 20px;
}

.socialLinkButton {
  height: 50px;
  font-size: 0.875rem;
}

.servicesBackground {
  background-color: var(--color-1);
  padding: 60px 20px;
  margin-top: 90px;
}

.servicesPrincipal {
  max-width: 1150px;
  margin: 0 auto;
}

.servicesTitleArea {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.servicesTitle {
  position: relative;
  margin-bottom: 30px;
  flex: 1; /* Garantir que o título tenha espaço para crescer */
}

.servicesBackground h1 {
  color: var(--color-7);
  font-size: 2rem;
}

.servicesTitle::after {
  content: '';
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 150px;
  height: 2px;
  background-color: var(--color-4);
  border-radius: 20px;
}

.servicesContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 40px;
  margin-top: 40px;
}

.serviceCard {
  background-color: var(--color-1);
  border: 1px solid var(--color-1);
  padding: 20px;
  border-radius: 10px;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.serviceCard:hover {
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
  transform: translateY(-5px);
}

.serviceCard h1 {
  font-size: 1.5rem;
  color: var(--color-7);
  margin: 15px 0 10px;
}

.serviceDescription {
  font-size: 1rem;
  color: var(--color-2);
}

.serviceIcon {
  width: 60px;
  height: 60px;
  margin: 10px 0;
}

.statsBackground {
  max-width: 980px;
  margin: 0 auto;
  padding: 60px 20px 0;
  text-align: center;
}

.statsBackground h1 {
  color: var(--color-7);
  margin-bottom: 30px;
  font-size: 2rem;
}

.statsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 30px;
}

.statsContainer p {
  display: flex;
  flex-direction: column;
  font-size: 1.125rem;
  color: var(--color-2);
  min-width: 100px;
}

.statsNumber {
  font-size: 3.5rem;
  font-family: Font3;
  color: var(--color-7);
}

/* Adaptação para tablet (entre 768px e 1024px) */
@media (max-width: 1024px) and (min-width: 768px) {
  .introContainer {
    flex-direction: column-reverse;
    justify-content: center;
    margin-top: 40px;
    max-width: 800px;
  }

  .profileImage {
    max-width: 300px;
    margin-top: 20px;
  }

  .introText h1 {
    font-size: clamp(1.75rem, 4vw, 2.25rem);
  }

  .introText p {
    font-size: 1.125rem;
    max-width: 600px;
  }

  .socialLinkButton {
    height: 45px;
    font-size: 1rem;
  }

  .servicesBackground {
    padding: 50px 20px;
    margin-top: 70px;
  }

  .servicesPrincipal {
    max-width: 950px;
    margin: 0 auto;
  }

  .servicesTitleArea {
    gap: 15px;
  }

  .servicesTitle {
    margin-bottom: 20px;
  }

  .servicesBackground h1 {
    font-size: 2rem;
  }

  .servicesContainer {
    gap: 30px;
  }

  .serviceCard {
    padding: 15px;
  }

  .serviceCard h1 {
    font-size: 1.25rem;
  }

  .serviceDescription {
    font-size: 1rem;
  }

  .serviceIcon {
    width: 50px;
    height: 50px;
    margin: 10px 0;
  }

  .statsBackground {
    padding: 50px 20px;
  }

  .statsBackground h1 {
    font-size: 2.25rem;
  }

  .statsContainer p {
    font-size: 1.125rem;
    text-align: center;
  }

  .statsNumber {
    font-size: 3rem;
  }
}

/* Adaptação para dispositivos menores que 768px */
@media (max-width: 768px) {
  .introContainer {
    flex-direction: column-reverse;
    margin-top: 15px;
    justify-content: center;
    max-width: 500px;
  }

  .profileImage {
    max-width: 250px;
  }

  .socialLinkButton {
    order: 3;
  }

  .statsNumber {
    font-size: 2.5rem;
  }

  .statsContainer {
    flex-direction: column;
    align-items: center;
  }

  .servicesContainer {
    gap: 30px;
    grid-template-columns: 1fr;
  }

}
