.intro {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-self: center;
  justify-content: center;
  gap: 60px;
  margin-top: 120px;
}

.download {
  display: flex;
  align-items: center;
  gap: 8px;
}

.icon {
  font-size: 20px;
}

.eu {
  color: var(--color-2);
  font-family: 'Font4';
}

.bgDados {
  max-width: 980px;
  margin: 0 auto;
  padding-top: 120px;
  justify-content: center;
}

.bgDados h1{
  text-align: center;
  color: var(--color-2);
  margin-bottom: 30px;
}

.dados {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.dados p{
  display: flex;
  flex-direction: column;
  font-size: 1.125rem;
  color: var(--color-2);
}

.dados span + span{
  color: var(--color-2);
}

.tamanho {
  font-size: 3.5rem;
  font-family: Font3;
}

@keyframes pisca {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.eu h1 {
  max-width: 500px;
  font-size: 2rem;
}

.eu p {
  margin-top: 15px;
  max-width: 550px;
  font-size: 1rem;
}

.social {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.socialButton{
  max-width: 100%;
  height: 50px;
  font-size: 0.875rem;
}

@media (max-width: 1000px) {
  .intro {
    margin-top: 60px;
  }

  .eu h1 { 
    font-size: 1.5rem;
  }

  .foto {
    max-width: 300px;
  }
    
  .bgDados {
    max-width: 700px;
    padding-top: 60px;
  }

  .dados p {
    font-size: 1rem;
  }

  .tamanho {
    font-size: 2rem;
  }
}

@media (max-width: 850px) {
  .foto {
    max-width: 200px;
    max-height: 200px;
  }

  .intro {
    gap: 0px;
    margin-top: 100px;
  }

  .bgDados {
    text-align: center;
  }

  .dados {
    display: block;
  }

  .dados p + p{
    margin-top: 15px;
  }
}

@media (max-width: 700px) {
  .intro {
    gap: 20px;
    margin-top: 30px;
  }

  .eu h1 {
    max-width: 300px;
    margin: 0 auto;
  }
  
  .eu p {
    max-width: 300px;
    font-size: 1rem;
    margin: 15px auto 0 auto;
  }

  .social {
    max-width: 320px;
  }

  .social .socialButton {
    order: 2;
  }
}

@media (max-width: 550px) {
  .eu {
    order: 2;
  }
}