.errorContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  padding: 0 20px;
  box-sizing: border-box;
}

.errorContent {
  max-width: 600px;
  padding: 20px;
}

.errorCode {
  font-size: 6rem;
  color: var(--color-4);
  margin-bottom: 20px;
}

.errorMessage {
  font-size: 2rem;
  color: var(--color-5);
  margin-bottom: 10px;
}

.errorDescription {
  font-size: 1.25rem;
  color: var(--color-2);
  margin-bottom: 30px;
}

/* Responsividade */
@media (max-width: 768px) {
  .errorCode {
    font-size: 4.5rem;
  }

  .errorMessage {
    font-size: 1.75rem;
  }

  .errorDescription {
    font-size: 1.1rem;
  }
}

@media (max-width: 480px) {
  .errorCode {
    font-size: 3.5rem;
  }

  .errorMessage {
    font-size: 1.5rem;
  }

  .errorDescription {
    font-size: 1rem;
  }
}
