.certificados img {
  max-width: 700px;
  margin: 0px auto;
}

.certificados {
  color: var(--color-2);
  max-width: 800px;
  margin: 0px auto;
}

.certificados h1 {
  font-size: 1rem;
  font-weight: bold;
  color: var(--color-2);
  padding-bottom: 15px;
}

.certificados h1 {
  text-align: center;
  position: relative;
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  white-space: nowrap;
  align-items: center;
}

.certificados h1::before,
.certificados h1::after {
  content: '';
  width: 50%;
  height: 1px;
  background-color: #444;
}

.certificados h1::before {
  margin-right: 10px; /* Distância entre a linha e o texto */
}

.certificados h1::after {
  margin-left: 10px; /* Distância entre a linha e o texto */
}


.separacao {
  padding-top: 60px;
}

.certificados p {
  display: flex;
  text-align: center;
  justify-content: center;
  color: var(--color-5);
  margin-top: 15px;
}

@media (max-width: 1000px) {
  .certificados {
    max-width: 550px;
  }

  .certificados ul {
    grid-template-columns: 1fr;
    max-width: 900px;
    gap: 30px;
    color: var(--color-5);
  }

  .certificados img {
    max-width: 450px;
  }
}

@media (max-width: 550px) {

  .certificados {
    max-width: 350px;
  }

  .certificados img {
    max-width: 250px;
  }
}
