:root {
  --primary-color: rgb(44, 44, 44);
  --highlight-color-1: #d62976;
  --highlight-color-2: #128C7E;
  --highlight-color-3: #0072b1;
  --highlight-color-4: #00acee;
  --social-hover-duration: .3s;
  --social-container-size: 52px;
  --social-svg-size: 20px;
}

.card {
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  gap: 15px;
}

.socialSvg {
  font-size: 20px;
}

/* Contêiner de ícones sociais */
.socialContainer {
  width: var(--social-container-size);
  height: var(--social-container-size);
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: background-color var(--social-hover-duration), transform var(--social-hover-duration);
  color: #fff;
  border-radius: 10px;
}

/* Definindo as cores dos ícones sociais ao passar o mouse */
.containerOne:hover { background-color: var(--highlight-color-1); }
.containerTwo:hover { background-color: var(--highlight-color-2); }
.containerThree:hover { background-color: var(--highlight-color-3); }
.containerFour:hover { background-color: var(--highlight-color-4); }

.containerFive:hover,
.containerSix:hover,
.containerSeven:hover {
  background-color: var(--highlight-color-1);
}

.containerEight:hover {
  background-color: var(--highlight-color-1);
}

.containerNine:hover {
  background-color: var(--highlight-color-4);
}

.containerTen:hover {
  background-color: var(--highlight-color-3);
}

.containerEleven:hover {
  background-color: var(--highlight-color-2);
}

/* Efeito de clique (active) */
.socialContainer:active {
  transform: scale(0.9);
}

/* Definindo o tamanho do ícone */
.socialSvg {
  max-width: var(--social-svg-size);
}

.socialSvg path {
  fill: #fff;
}

/* Animação ao passar o mouse nos ícones */
.socialContainer:hover .socialSvg {
  animation: slide-in-top 0.3s both;
}

/* Animação de deslizamento */
@keyframes slide-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Estilos para a seção de contato */
.contact {
  display: flex;
  justify-content: center;
  margin-top: 120px;
  padding: 30px;
}

.contact img {
  width: 20px;
}

/* Responsividade para telas menores */
@media (max-width: 768px) {
  .card {
    padding: 30px 0;
    max-width: 300px;
  }

  .contact .card {
    max-width: 100%;
  }
}

@media (max-width: 550px) {
  .contact .card {
    flex-wrap: wrap;
  }
}
