.bgHeader {
  display: flex;
  align-items: center;
  padding-top: 30px;
  flex-wrap: wrap;
  max-width: var(--container-desktop);
  margin: 0 auto;
  position: relative;
}

.bgHeader nav {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.header {
  display: flex;
  justify-content: center;
  text-align: center;
  color: var(--color-7);
  font-family: 'Font4';
  margin: 0;
}

.header li + li {
  margin-left: 30px;
}

.header li:hover {
  color: var(--color-4);
}

.active {
  color: var(--color-4);
}

@media (max-width: 1400px) {
  .bgHeader {
    max-width: var(--container-laptop);
  }
}

@media (max-width: 1024px) {
  .bgHeader {
    max-width: var(--container-tablet);
  }
}

@media (max-width: 768px) {
  .header {
    display: block;
    margin-top: 10px;
  }
  .bgHeader {
    max-width: var(--container-mobile);
    justify-content: space-between;
  }
  .bgHeader nav {
    position: static;
    transform: none;
    margin-left: auto;
  }
  .bgHeader .button {
    display: none;
  }
  .header li + li {
     margin: 15px 0 0 0;
  }
}
