.experience {
  color: #fff;
  border-radius: 20px;
  border: 1px solid var(--color-4);
  padding: 25px;
  max-width: 600px;
  margin: 0px auto;
  transition: max-height 0.5s ease;
  box-sizing: border-box;
}

.experience + .experience {
  margin-top: 30px;
}

.experience.expanded {
  max-height: 100%;
}

.detalhes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  cursor: pointer;
}

.detalhes p:nth-child(1){
  font-size: 1.125rem;
}

.detalhes p:nth-child(2){
  font-size: 0.875rem;
}

.detalhes img {
  max-width: 50px;
  border-radius: 10px;
}

.icon {
  width: 20px;
  height: 30px;
  color: var(--color-5);
  border-radius: 5px;
}

.descricao.show {
  opacity: 1;
  max-height: 100%;
}

.descricao {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 0.5s ease, max-height 0.5s ease; 
}

.descricao p {
  margin-top: 30px;
}


@media (max-width: 550px) {
  .experience {
    max-width: 400px;
  }

  .detalhes p {
    max-width: 220px;
  }

  .detalhes p:nth-child(1){
    font-size: 1rem;
  }

  .experience + .experience {
    margin-top: 15px;
  }

}
