.introContainer {
  max-width: var(--container-desktop);
  margin: 0 auto;
  padding-top: 60px;
}

.introGrid {
  display: grid;
  grid-template-columns: 1.5fr 0.5fr;
  align-items: center;
  gap: 30px;
}

.introText {
  color: var(--color-2);
  font-family: 'Font4';
}

.introText h1 {
  font-size: 1.75rem;
  color: var(--color-7);
}

.introText p {
  margin-top: 15px;
  max-width: 650px;
  font-size: 1rem;
}

.socialLinks {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: 20px;
}

.socialLinkButton {
  height: 50px;
  font-size: 0.875rem;
}

.contactButton {
  display: flex;
  align-items: center;
  gap: 8px;
}

.introImageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.introImg {
  width: 600px;
  height: auto;
  object-fit: contain;
  border-radius: 12px;
}

@media (max-width: 1400px) {
  .introContainer { max-width: var(--container-laptop); }
  .introGrid { gap: 10px; }
  .introImg { width: 460px; }
}

@media (max-width: 1024px) {
  .introContainer { max-width: var(--container-tablet);   padding-top: 45px; }
  .introGrid { grid-template-columns: 1fr; }
  .introText { max-width: 700px; }
  .introText h1 { font-size: 1.5rem; }
  .introText p { font-size: 1rem; }
  .introImg { width: 700px; }
}

@media (max-width: 768px) {
  .introContainer { max-width: var(--container-mobile); ;}
  .socialLinks {flex-wrap: wrap;}
  .socialLinkButton {order: 2;}
  .introImg { width: 340px; margin-bottom: 15px;}
  .introImageContainer {order: -1;}
}
